div(align="center")
	p #{name}
	p #{email}
	p #{celphone}
	p #{amount_ppl}
	p #{date_ini}
	p #{date_fin}
	p #{amount_per_day}
	p #{amount_canceled}
	p #{state}
	p #{room_type}

	p Reserva guardada correctamente

	a(href="https://hostalsaez.herokuapp.com/") 
		h3 Volver al inicio