doctype html
html(lang="es")
	head
		title= "Hostal Saez"
		link(type="text/css", rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css", integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ", crossorigin="anonymous")
		link(type="text/css",rel='stylesheet', href='/assets/css/nanostyle.css')

	body

		div#fq_divform

			form(method="POST", action="#{url}/save_booking")
				br
				div(class="form-group row")
					label(for="example-text-input" class="col-3 col-form-label") Nombre
					div.col-9
						input#resp_text(type="text", class="form-control", placeholder="Ingresar nombre" name="name")
				div(class="form-group row")
					label(for="example-text-input" class="col-3 col-form-label") Email
					div.col-9
						input#resp_text(type="email", class="form-control", placeholder="Ingresar correo electronico", name="email")
				div(class="form-group row")
					label(for="example-text-input" class="col-3 col-form-label") Celular
					div.col-9
						input#resp_text(type="tel", class="form-control", placeholder="Ingresar numero de contacto", name="celphone")
				div(class="form-group row")
					label(for="example-text-input" class="col-4 col-form-label") Nº Personas
					div.col-8
						input#resp_text(type="number", class="form-control", placeholder="Ingresar cantidad de personas", name="amount_ppl")		
				div(class="form-group row")
					label(for="example-text-input" class="col-4 col-form-label") Fecha de llegada
					div.col-8
						input#resp_text(type="date", class="form-control", placeholder="Ingresar fecha de llegada", name="date_ini")
				div(class="form-group row")
					label(for="example-text-input" class="col-4 col-form-label") Fecha de salida
					div.col-8
						input#resp_text(type="date", class="form-control", placeholder="Ingresar fecha de salida", name="date_fin")
				div(class="form-group row")
					label(for="example-text-input" class="col-5 col-form-label") Cobro diario(CLP) 
					div.col-7
						input#resp_text(type="number", class="form-control", placeholder="Ingresar el cobro por noche", name="amount_per_day", value=28000)
				div(class="form-group row")
					label(for="example-text-input" class="col-5 col-form-label") Monto cancelado(CLP)
					div.col-7
						input#resp_text(type="number", class="form-control", placeholder="Ingresar el monto cancelado",
						name="amount_canceled")
				div(class="form-group row")
					label(for="exampleSelect1" class="col-4 col-form-label") Estado reserva
					select#resp_text(name="state" class="col-7")
						option="Confirmado"
						option="Pendiente"
				div(class="form-group row")
					label(for="exampleSelect1" class="col-4 col-form-label") Tipo de pieza
					select#resp_text(name="room_type" class="col-7")
						option="Matrimonial con baño compartido"
						option="Matrimonial con baño privado"
						option="Pieza doble"
				p
					button#button_form(type="submit", class="btn btn-primary", align="right") Registrar


